<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeoreMus"
        tools:targetApi="31">
        <activity
            android:name=".view.moduloiii.triades.Triades"
            android:exported="false"
            android:label="@string/title_activity_triades"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloiii.tetrades.Tetrades"
            android:exported="false"
            android:label="@string/title_activity_tetrades"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloiii.cifras.Cifras"
            android:exported="false"
            android:label="@string/title_activity_cifras"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloiii.acordes.Acordes"
            android:exported="false"
            android:label="@string/title_activity_acordes"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.tom_tonalidade.TomTonalidade"
            android:exported="false"
            android:label="@string/title_activity_tom_tonalidade"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.escalas.EscalasII"
            android:exported="false"
            android:label="@string/title_activity_escalas_ii"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.graus.Graus"
            android:exported="false"
            android:label="@string/title_activity_graus"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.intervalos.Intervalos3"
            android:exported="false"
            android:label="@string/title_activity_intervalos3"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.intervalos.Intervalos2"
            android:exported="false"
            android:label="@string/title_activity_intervalos2"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.escala_maior.EscalaMaior"
            android:exported="false"
            android:label="@string/title_activity_escala_maior"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.escala_menor.EscalaMenor"
            android:exported="false"
            android:label="@string/title_activity_escala_menor"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.escalas.Escalas"
            android:exported="false"
            android:label="@string/title_activity_escalas"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.intervalos.Intervalos"
            android:exported="false"
            android:label="@string/title_activity_itervalos"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.tom.Tom"
            android:exported="false"
            android:label="@string/title_activity_tom"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.clave_sol.ClaveSolExercicio"
            android:exported="false"
            android:label="@string/title_activity_clave_sol_exercicio"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.clave_sol.ClaveSol"
            android:exported="false"
            android:label="@string/title_activity_clave_sol"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.pauta.Pauta"
            android:exported="false"
            android:label="@string/title_activity_pauta"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.qualidades.QualidadesDoSom"
            android:exported="false"
            android:label="@string/title_activity_qualidades_do_som"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.notas.NotasActivity"
            android:exported="false"
            android:label="@string/title_activity_notas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.inicio.InicioI"
            android:exported="false"
            android:label="@string/title_activity_inicio_i"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloi.ModuloI"
            android:exported="false"
            android:label="@string/title_activity_modulo_i"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloii.ModuloII"
            android:exported="false"
            android:label="@string/title_activity_modulo_i"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloiii.ModuloIII"
            android:exported="false"
            android:label="@string/title_activity_modulo_i"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.moduloiv.ModuloIV"
            android:exported="false"
            android:label="@string/title_activity_modulo_i"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TeoreMus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>